@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=The+Girl+Next+Door&display=swap&family=Quicksand:wght@300&display=swap&family=Fredericka+the+Great&display=swap');

html, body{
    height:100%;
    margin:0;
    background-color:rgb(53,53,53);
    background:url('img/background.jpg');
    background-size:cover;
    font-size:13px;
}

.container{
    margin: 0 auto;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    min-height:600px;
}

.cards{
    width:100%;
    margin:0 auto;
    position:relative;
    height:35vw;
    padding-top:2%;
    min-width:800px;
}

.card{
    width: 20vw;
    height: 32vw;
    background-color: transparent;
    border-radius: 10px;
    float: left;
    margin: 5px;
    position: absolute;
    min-width:132px;
    min-height:220px;
}

.card.one{
    z-index: 1;
    transform: rotate(-25deg);
    margin-top:0px;
    transition: margin ease 0.5s;
    margin-left:20%;
    transition: margin ease-in-out 0.3s;
}

.card.one:hover{
    margin-left:19%;
}

.card.two{
    z-index: 2;
    transform: rotate(-16deg);
    margin-left:30%;
    transition: margin ease-in-out 0.3s;
}

.card.two:hover{
    margin-top:0;
    margin-left:29%;
}

.card.three{
    z-index: 3;
    transform: rotate(2deg);
    margin-left:40%;
    transition: margin ease-in-out 0.3s;
}

.card.three:hover{
    margin-top:-2px;
}

.card.four{
    z-index: 4;
    transform: rotate(14deg);
    margin-left:50%;
    transition: margin ease-in-out 0.3s;
}

.card.four:hover{
    margin-top:0;
    margin-left:51%;
}

.card.five{
    z-index: 5;
    transform: rotate(20deg);
    margin-left:60%;
    transition: margin ease-in-out 0.3s;
}

.card.five:hover{
    margin-left:61%;
}

.inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.6s ease-in-out;
    transform-style: preserve-3d;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px 5px rgba(0,0,0,0.5);
    border-radius:7px;
}
.front {
    height:100%;
    width:100%;
    background:
    radial-gradient(rgb(249,210,90) 0px, transparent 0px),
    radial-gradient(rgb(249,210,90) 0px, transparent 0px),
    linear-gradient(rgb(45,45,43) 4px, transparent 0),
    linear-gradient(45deg, transparent 64px, transparent 65px, rgba(249,210,90,0.5) 65px, rgba(249,210,90,0.5) 66px, transparent 67px, transparent 99px),
    linear-gradient(-45deg, transparent 65px, transparent 66px, rgba(249,210,90,0.5) 66px, rgba(249,210,90,0.5) 67px, transparent 68px, transparent 99px),
    #fff;
    background-size: 90px 90px, 90px 90px,100% 6px, 90px 91px, 91px 91px;
    background-position: 44px 45px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-color:rgb(45,45,43);
    z-index: 2;
}

.front:hover{
    cursor:pointer;
}

.front .box-design{
    border-left:1px solid rgb(249,210,90);
    border-right:1px solid rgb(349,210,90);
    margin:30% 8%;
    height:60%;
    display:flex;
    align-items:center;
    background:url('img/initial.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}

.front .box-design .arrow-left, .front .box-design .arrow-right{
    position:absolute;
    width:40px;
    height:40px;
    border-top:1px solid rgb(249,210,90);
    border-right:1px solid rgb(249,210,90);
    background: linear-gradient(to left bottom, rgb(45,45,43)67%, transparent 50%);
}

.front .box-design .arrow-left{
    left: -10px;
    transform:rotate(45deg);
}

.front .box-design .arrow-inner{
    width:70%;
    height:70%;
    position:absolute;
    right:6px;
    top:5px;
    border-right:1px solid rgb(249,210,90);
    border-top:1px solid rgb(249,210,90);
}

.front .box-design .arrow-right{
    right: -10px;
    transform:rotate(225deg);
}

.back {
    background-color:#353535;
    border: 3px solid rgb(249,210,90);
    transform: rotateY(180deg);
    display:flex;
    flex-direction:column;
    padding:0;
}

.priority{
    z-index:10!important;
}

.flip1{
     transform: rotate(20deg) rotateY(180deg) scale(1.2); 
     z-index:10;
}

.flip2{
    transform: rotate(15deg) rotateY(180deg) scale(1.2); 
    z-index:10;
}

.flip3{
    transform: rotateY(180deg) scale(1.2); 
    z-index:10;
}

.flip4{
    transform: rotate(-10deg) rotateY(180deg) scale(1.2); 
    z-index:10;
}

.flip5{
    transform: rotate(-15deg) rotateY(180deg) scale(1.2); 
    z-index:10;
}

.profile-photo{
    width:31%;
    border-radius:50%;
    border:3px solid #ffffff;
    float:right;
    position:absolute;
    top:5px;
}

h1, h2, h3, h4, h5{
    font-family: 'Domine', serif;
    font-weight:normal;
    margin-bottom:0;
}

h5{
    color:rgb(249,210,90);
    margin:0;
    font-size:0.9vw;
}

.name{
    display:inline-block;
}

.intro{
    padding:10px;
    z-index:5;
}

.intro.light{
    background-color:#ffffff;
    color:rgb(70,70,70);
    height:15%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.intro.light h2{
    font-size:1.5vw;
}

.intro.light p{
    margin:0;
    font-size:1vw;
}

.intro.dark{
    background-color:#353535;
    color:#ffffff;
    border-radius:5px;
}

.intro .heading{
    display:inline-block;
    width:62%;
}



.intro .heading p{
    margin:0;
    margin-bottom:10px;
}

.main{
    font-family: serif;
    color:#ffffff;
    flex:1;
    overflow:auto;
    width:100%;
    -webkit-overflow-scrolling:touch;
    z-index:1;
}

.main.handwrite{
    font-family:'Kalam', cursive, serif!important;
}

.main.handwrite .content{
    font-size:1vw!important;
}

.main .content{
    padding:0 10px;
    font-size:0.9vw;
}

.main .content.flex{
    display:flex;
    flex-direction:column;
}


.main .content ul{
    padding-left:20px;
}

.contact-footer{
    font-family: 'Domine', serif;
}

.contact-footer a{
    text-decoration: none;
    color:#ffffff;
}

.footer-links i:last-child{
    font-size:11px;
}

.footer-links a{
    margin-left:10px;
    color:#ffffff;
    text-decoration: none;
    font-size:10px;
    font-family: 'Domine', serif;
}

.dot {
    height: 0.7vw;
    width: 0.7vw;
    margin:1px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
  }

.dot.active {
    background-color: rgb(249,210,90)!important;
}

.hobbies, .traits{
    width:100%;
    padding:0!important;
}

.hobbies .item{
    width:50%;
    float:left;
    text-align:center;
}

.traits .item{
    width:33%;
    float:left;
    padding-top:15px;
    min-width:70px;
    text-align:center;
    height:105px;
}

.prec{
    top: 15px;
    position: relative;
    font-size: 15px;
}

.circle{
    position: relative;
    top: 2px;
    left: 2px;
    text-align: center;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background-color: #353535;
}

.border{
    position: relative;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color:grey;
    margin:0 auto;
}

.border-75{
    background-image:
        linear-gradient(180deg, transparent 50%, rgb(249,210,90) 50%),
        linear-gradient(-90deg, rgb(249,210,90) 50%, transparent 50%);
}

.border-94{
    background-image:
        linear-gradient(248deg, transparent 50%, rgb(249,210,90) 50%),
        linear-gradient(-90deg, rgb(249,210,90) 50%, transparent 50%);
}

.border-86{
    background-image:
        linear-gradient(220deg, transparent 50%, rgb(249,210,90) 50%),
        linear-gradient(-90deg, rgb(249,210,90) 50%, transparent 50%);
}

.border-90{
    background-image:
        linear-gradient(234deg, transparent 50%, rgb(249,210,90) 50%),
        linear-gradient(-90deg, rgb(249,210,90) 50%, transparent 50%);
}

.border-95{
    background-image:
        linear-gradient(252deg, transparent 50%, rgb(249,210,90) 50%),
        linear-gradient(-90deg, rgb(249,210,90) 50%, transparent 50%);
}

.border-70{
    background-image:
        linear-gradient(162deg, transparent 50%, rgb(249,210,90) 50%),
        linear-gradient(-90deg, rgb(249,210,90) 50%, transparent 50%);
}

.social{
    position:absolute;
    right:10px;
    z-index:1;
}

.social i{
    font-size:20px;
    padding:5px;
    color:#353535;
}

.header{
    position:fixed;
    top:0;
    width:100%;
    text-align:center;
}
.header .title{
    font-family: 'Fredericka the Great', cursive;
    color:#353535;
    margin:0 auto;
}

.skills-table{
    width:100%;
}

.skills-table td{
    padding:2.5px;
}

.education-table{
    width:100%;
}
